<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- the app uses the TicketReservations conn str.
    -->
    <add name="TicketReservations" connectionString="Server=.;Database=TicketReservations;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="TicketReservations_alt" connectionString="Server=tcp:jodebrui-hktest1.database.windows.net;Database=TicketReservations;User ID=cloudadmin;Password=Yukon%900;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- For Azure DB, recommend to reduce the ThreadCount-->
    <add key="ThreadCount" value="80"/>
    <add key="ReadsPerWrite" value="1"/>
    <add key="RequestCount" value="100000"/>
    <add key="RowCount" value="100"/>
    <add key="TransactionCount" value="1"/>
    <add key="WorkloadIndex" value="0"/>
    <add key="MaxTps" value="70"/>
    <add key="MaxLatchWaits" value="20000"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
